body{
    background-color:rgb(255, 238, 190);
    margin-left:0px
}
h1{
    text-align:center;
}
#con1{
    margin:50px;
    margin-top:0px;
    margin-bottom:0px;
    text-align:center;
    background-color:rgba(238, 192, 67, 0.829);
    box-shadow: 5px 5px 10px rgba(241, 226, 194, 0.521);
}
ul {
  text-align: center;
  font-size:1.2em;
}

li {
  list-style-position: inside;
}

